main {
  text-align: center;
}

main p {
  text-align: left;
}

.exhibition-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

.exhibition-intro p {
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.exhibition-container {
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.exhibition-card {
  background-color: var(--light-blue);
  color: var(--black);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px;
  max-width: 300px;
}

.visit-cta {
  margin: 10px auto;
}
