.index-intro img {
  margin: 50px 50px 10px 50px;
}

.index-intro {
  max-width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.intro-text p {
  color: var(--white);
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.intro-text {
  margin: 0px 30px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}
h2,
p {
  margin: 10px 30px;
}

.explore {
  background-color: var(--grey-blue);
  width: 100%;
  min-height: 300px;
  text-align: center;
}

.explore-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 150px;
}

.for-kids {
  background-image: url(/images/chemistry-gc12fa11f9_1280.jpg);
}

.for-teachers {
  background-image: url(/images/scientific-2040795_1280.jpg);
}

.for-researchers {
  background-image: url(/images/people-219985_1280.jpg);
}

.for-kids,
.for-teachers,
.for-researchers {
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 30px auto;
}

.index-exhibition {
  text-align: center;
  margin: 20px auto;
  max-width: 300px;
}

.index-exhibition p {
  text-align: left;
}

.index-exhibition img {
  border-radius: 10px;
}

.index-exhibition .cta {
  margin: 20px;
}
