.involved-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.involved-intro p {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 10px;
}

.involved-intro a {
  color: var(--white);
}

.involved-intro div {
  padding: 10px 30px;
}

.involved-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1200px;
  justify-content: space-evenly;
  gap: 20px;
}

.involved-container div {
  max-width: 400px;
  margin: 20px 20px;
}

.flex-item1 a {
  color: var(--white);
  font-weight: bold;
}
