@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap");

:root {
  --white: #fff;
  --light-blue: #aef2f2;
  --grey-blue: #6889a6;
  --dark-blue: #121d40;
  --black: #000;
}

body {
  background-color: var(--dark-blue);
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1em;
  color: var(--white);
  margin: 0px;
  display: grid;
  grid-template-rows: auto auto auto;
}

main {
  margin-top: 80px;
}

h1 {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 3em;
  text-shadow: 2px 2px var(--grey-blue);
}

h2,
h3 {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.hamburger-label {
  padding: 20px;
  color: var(--white);
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
}

#hamburger-menu,
.menu {
  display: none;
}

#hamburger-menu:checked + .menu {
  display: block;
}

.menu {
  position: absolute;
  border-color: var(--grey-blue);
  border-radius: 10px;
  background-color: var(--light-blue);
  margin-left: 30px;
  padding: 20px;
  line-height: 2em;
  font-weight: bold;
  min-width: 170px;
}

.menu li {
  list-style: none;
  padding: 10px;
}

nav {
  padding: 20px;
  position: fixed;
  background-color: var(--dark-blue);
  width: 100%;
}

.menu-title {
  margin: 10px 30px 20px 30px;
  font-size: 1.2em;
}

.index-intro,
.explore-intro,
.exhibition-intro,
.involved-intro,
.special-intro,
.visit-intro {
  background-image: url(/images/pexels-joshua-navratil-5300362.jpg);
  background-size: cover;
  height: 600px;
}

.cta {
  display: inline-block;
  border: #6889a6 solid 3px;
  border-radius: 10px;
  color: var(--light-blue);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--dark-blue);
  transition: background-color 1s;
}

.cta:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

img {
  max-width: 100%;
}

.logo {
  max-width: 300px;
}

footer {
  display: flex;
  background-color: var(--light-blue);
  color: var(--black);
  justify-content: space-evenly;
  line-height: 1em;
  margin-top: 50px;
  flex-wrap: wrap;
  place-content: center;
}

footer h3 {
  order: 2;
}

.footer-hours {
  order: 1;
}

.footer-contact {
  order: 3;
}

.opening-hours,
.contact-us {
  font-weight: bold;
}

.footer-contact a {
  text-decoration: none;
  color: var(--black);
  display: block;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

.footer-contact a:hover {
  text-decoration: underline;
}

footer div {
  padding-top: 30px;
  align-self: center;
}
