.visit-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.visit-intro h1 {
  margin: 10px;
}

.visit-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 100px;
  justify-content: space-around;
}

.visit-container div {
  max-width: 200px;
  margin: 40px;
}

.visit-contact {
  max-width: 150px;
}

.visit-contact a {
  text-decoration: none;
  color: var(--white);
  display: block;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

.visit-contact a:hover {
  text-decoration: underline;
}

.visit-hours p {
  padding: 0;
}
